*{
    font-family: sans-serif;
    padding:0;
    margin:0;
}
nav{
    position:fixed;
    background-color: lightgrey;
    width:100%;
    z-index:1;
    height:70px;
}
.logo{
    font-size: 30px;
    font-weight:bold;
    left:5%;
    position:relative;
    color:white;
    line-height: 70px;
}
ul{
    position:relative;
    float:right;
    margin-right:20px;

}
ul li{
    display: inline-flex;
    line-height:70px;
    margin: 0 5px;
}
ul li a{
    text-decoration: none;
    color:white;
}
form{
    position:relative;
    float:right;
    margin-right:20px;
    line-height:70px;
}